<section>
    <div class="container">
        
    <h1>All Products</h1>
        {{!-- <div class="row mt-5">
            <a href="/admin/add-products" class="btn btn-success ml-auto mb-5">Add Product</a>
        </div> --}}
         <table class="table mt-5" id="productsTable">
  <thead>
    <tr>
      
      <th scope="col">Title</th>
      <th scope="col">Category</th>
    
      <th scope="col">Description</th>
      <th >Image</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
      {{#each products}}
    <tr>
     
      <td>{{this.Name}}</td>
     
      <td>{{this.Category}}</td>
  
      <td>{{this.Description}}</td>
      <td><img style="width:50px;height:50px" src="/product-images/{{this._id}}.jpg" alt=""></td>
      <td>
        <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
        <a href="/admin/delete-product/{{this._id}}"  class="btn btn-danger" onclick="return confirm('Are you sure to delete the product {{this.Name}}')">Delete</a>      
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

    </div>
</section>
<script>
  $(function () {
 $('#productsTable').DataTable();
  })
</script>