{{!-- <section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}

              <div class="col-md-3 p-3"
                  <div class="card" style="width: 15rem;height:24rem">
                      <img class="card-img-top"
                         src="/product-images/{{this.product._id}}.jpg"
                         alt="Card image cap"
                         style="height:12rem">
                       <div class="card-body">
                           <p class="card-text">OrderId:{{this._id}}</p>
                           <h5 class="card-title"{{this.product.Name}}></h5>
                           <p class="card-text">Rs.{{this.product.Price}}</p>
                           <p class="card-text">Quantity:{{this.quantity}}</p>
                           <p class="card-text">{{this.Description}}</p>
                       </div>
                  </div>
              </div>
            {{/each}}
        </div>
    </div>
</section> --}}
<section>
  <div class="container mt-2">
<!--   <div class="card card-block mb-2">
    <h4 class="card-title">Card 1</h4>
    <p class="card-text">Welcom to bootstrap card styles</p>
    <a href="#" class="btn btn-primary">Submit</a>
  </div>   -->
  <div class="row">
    {{#each products}}
    <div class="col-md-3 col-sm-6 item p-3">
      <div class="card item-card card-block">
    
    <img src="/product-images/{{this.product._id}}.jpg" alt="">
   
         <h5>Orderid:{{this._id}}</h5>
        <h5 class="item-card-title mt-3 mb-3">{{this.product.Name}}</h5>
         
        <p class="card-text" style="font-weight: bold;">₹{{this.product.Price}}</p> 
        <h5>Quantity(kg):{{this.quantity}}</h5>
  </div>
    </div>
     {{/each}}
    </div>
  
   
  </div>
  </section>